# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/cmake-build-debug/CMakeFiles/3.22.1/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/PraticaABB.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-52ecd589aa7d1439dda3.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/PraticaABB.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4931e8a1eccdac235b5d.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2402eef07466c238e26d.json
/cmake-build-debug/CMakeFiles/PraticaABB.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/PraticaABB.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/PraticaABB.dir/depend.make
/cmake-build-debug/CMakeFiles/PraticaABB.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/PraticaABB.dir/flags.make
/cmake-build-debug/.cmake/api/v1/reply/index-2023-06-23T14-32-03-0906.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/PraticaABB.dir/link.txt
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/PraticaABB.cbp
/cmake-build-debug/CMakeFiles/PraticaABB.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/.cmake/api/v1/reply/target-PraticaABB-Debug-ed6be6431a37b5e97dc7.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-6bbe3d3521e8d6cffb4c.json
